header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F9DB79;
  
}

header img {
  width: 75px;
}

header nav .links {
  margin-right: 40px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}