.row-container {
  display: flex;
  justify-content: center;
  height: 75vh;
  flex-wrap: wrap;
}

.reverse {
  flex-direction: row-reverse;
}

.inicial-conteudo {
  display: flex;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inicial-conteudo p {
  width: 60%;
  margin-top: 30px;
  font-size: 0.84em;
  font-weight: 900;
  line-height: 20px;
}

.inicial-conteudo h1 {
  font-size: 2em;
  text-transform: uppercase;
}

.inicial-conteudo h3 {
  font-size: 1.2em;
  margin-top: -10px;
  font-style: italic;
}

.row-container img {
  width: 50%;
}

@media screen and (max-width: 798px) {
}