main {
  margin: auto;
}

.row-container {
  display: flex;
  justify-content: center;
}

.reverse {
  flex-direction: row-reverse;
}

.inicial-conteudo {
  display: flex;
  height: 68vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inicial-conteudo p, .inicial-conteudo-terceiro p {
  width: 60%;
  margin-top: 30px;
  font-size: 0.84em;
  font-weight: 900;
  line-height: 20px;
}

.inicial-conteudo h1, .inicial-conteudo-terceiro h1 {
  font-size: 2em;
  text-transform: uppercase;
}

.inicial-conteudo h3, .inicial-conteudo-terceiro h3 {
  font-size: 1.2em;
  margin-top: -10px;
  font-style: italic;
}

.row-container img {
  width: 50%;
  
}
.row-container-terceiro {
  display: flex;
}

.row-container-terceiro img {
  width: 50%;
}

.inicial-conteudo-terceiro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}